<div class="banner-container">
  <div id="cover-sheet">
    <div id="banner-title">
      <p>The Ultimate Cocktail List for Gentlmen</p>
      <p>Live to Die Another Day</p>
    </div>
  </div>
</div>
