<div class="home-banner">
  <div id="cover-sheet">
    <div id="banner-title">
      <p>The Ultimate Cocktail List for Agents</p>
      <p>Live to Die Another Day</p>
      <%= render "components/formsearch" %>
    </div>
  </div>

  <div class="sample-container">
    <div class="content">
      <div class="cards">
        <% @cocktails.each do |cocktail| %>
          <div class="card-img-background">
            <% if cocktail.photo.attached? %>
              <div class="card-cocktail" style="background-image: url(<%= cl_image_path(cocktail.photo.key) %>);">
                <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              </div>
            <% else %>
            <div class="card-cocktail">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
