<div class="larry-background-img">
  <div class="background-img-cover">
    <div class="name-form">

      <h1>Generate a Name</h1>

      <div class="new-form">
        <%= render 'cocktails/form' %>
      </div>
    </div>
  </div>
</div>
