// Specific CSS for your home-page
.home-banner {
  background-image: asset-url("main-banner.jpg");
  background-size: cover;
  height: 100vh;

  #cover-sheet {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
  }

  #banner-title {
    position: absolute;
    top: 260px;
    left: 50px;
    line-height: 50px;
  }

  #banner-title p {
    color: white;
    font-family: Roboto;
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
  }

}

.content {
  display: flex;
  justify-content: center;
  padding: 50px;
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {


//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {



//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {



//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {



//   }
// }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  #banner-title {
    top: 58vh;
  }
}

