// Specific CSS for your home-page
.home-banner {
  background-image: asset-url("main-banner.jpg");
  background-size: cover;
  height: 105vh;
  background-position-y: -56px;

  #cover-sheet {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    height: 105vh;
  }

  #banner-title {
    position: absolute;
    top: 260px;
    left: 50px;
    line-height: 50px;
  }

  #banner-title p {
    color: white;
    font-family: Roboto;
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
  }

}

.content {
  display: flex;
  justify-content: center;
  padding: 50px;
}


