.card-cocktail {
  overflow: hidden;
  width: 273px;
  height: 181px;
  background-image: url("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg");
  background-size: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}
