.card-cocktail {
  overflow: hidden;
  width: 19vw;
  height: 19vw;
  background-image: url("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg");
  background-size: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 10vw;

  a {
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 2vw;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
}
