.name-form {
  padding: 18vw;
  color: white;
  h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 60px;
  }
  .submit-button {
    background-color: white;
  }
  #name-input-bar {
    background-color: rgba(255,255,255,0.6);
    border: none;
  }
}

.dose-form {
  width: 45vw;
  margin-left: 80px;
}
