.searchbar {
  padding-top: 1vh;

  #search {
    width: 26vw;
    background-color: rgba(255,255,255,0.6);
    border: none;
  }

  #search::placeholder {
    color: black;
  }

  #search:focus {
      box-shadow: none;
      border: none;
  }

  .btn-primary:focus {
    box-shadow: none;
    border: none;
    border-color: none;
    background-color: none;
  }

  .btn-primary:hover{
    box-shadow: none;
    border: none;
    border-color: none;
    background-color: none;
  }
}


