.searchbar {
  padding-top: 1vh;

  #search {
    width: 26vw;
    background-color: rgba(255,255,255,0.6);
    border: none;
  }

  #search::placeholder {
    color: black;
  }

  #search:focus {
      box-shadow: none;
      border: none;
  }

}


